.vscode/**
.vscode-test/**
src/**
hook/**
media/**
docs/**
node_modules/**
**/*.ts
**/*.map
**/*.test.*
.gitignore
.git/**
esbuild.js
tsconfig.json
vitest.config.ts
**/tsconfig.json
scratchpad/**
*.vsix
